<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
      body {
        background-color: black;
      }
      .container {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <!-- form -->
    <div class="container">
      <div style="margin-left: 90%; margin-top: 2%">
        <button class="ui button">
          <a href="/all_songs">View all Songs</a>
        </button>
      </div>
      <h1 style="color: aliceblue; margin-left: 40%">Add new Song</h1>
      <div style="width: 40%; margin-left: 25%">
        <form class="ui form" action="/create_song" method="post">
          {% csrf_token %}
          <div class="field">
            <label>Title of the song</label>
            <input type="text" name="title" placeholder="Title of the song" />
          </div>
          <div class="field">
            <label>Artist Names</label>
            <input type="text" name="names" placeholder="Artist Names" />
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
