<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <title>Document</title>
    <style>
      body {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <button
      class="ui button"
      style="margin-top: 1%; margin-left: 1%; margin-bottom: 2%"
    >
      <a href="/">Go Back</a>
    </button>

    <div
      style="
        color: aliceblue;
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        font-size: 40px;
      "
    >
      <div style="width: 50%">
        <span>Title</span>
      </div>
      <div style="width: 50%">
        <span>Description</span>
      </div>
    </div>

    {% for song in all_songs %}
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
      "
    >
      <div style="color: aliceblue; font-size: 24px">{{song.title}}</div>
      ||
      <div>
        {% for artist in song.artists.all %}
        <span style="color: aliceblue; font-size: 24px">{{artist.name}} ,</span>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
  </body>
</html>
